# MongoDB Atlas Connection
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.aqwbqqd.mongodb.net/
DB_NAME=rewind_db

# Cloudinary Storage Configuration
CLOUDINARY_CLOUD_NAME=dynoxkmjy
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Sarvam AI API Configuration
SARVAM_API_KEY=your_sarvam_api_key
